.faintLine {
  border: none;
  height: 2px;
  background-color: #e0e0e0;
  opacity: 0.7;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  padding: 51px 179px 59px 70px;
  color: #285581;
}

.footer ul {
  padding: 0;
  margin-right: 10px;
}

.footer ul li {
  list-style-type: none;
  margin-bottom: 16px;
}

.footer ul li a {
  color: #197fe5;
}

h5 {
  margin-top: 0;
}

.stars {
  width: 110px;
}

.truck {
  position: absolute;
  left: 70px;
  bottom: 0;
}

.end {
  display: flex;
  padding: 18px 70px;
  background: #2a4d6f;
  color: white;
  justify-content: space-between;
}
