.history {
  background: linear-gradient(45deg, #4680b9, #386694);
  margin: 80px 67px;
  padding: 80px 40px;
  border-radius: 10px;
  color: white;
  position: relative;
}

.history h3 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 21.67px;
}

.history p {
  font-family: "Inter", sans-serif;
  width: 35%;
  font-weight: 300;
  line-height: 1.5;
}

.authority {
  display: flex;
  align-items: center;
  margin: 19px 0 40px 0;
}

.authority .nhs {
  margin-right: 29px;
}

.history .map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 40px;
}

.stats {
  display: flex;
}

.statsItem {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 24px;
  padding: 16px;
  width: 263px;
  height: 96px;
  border-radius: 5px;
}

.stats h3,
.stats h4 {
  /* margin: 0; */
}

.stats h3 {
  text-align: left;
  font-weight: bold;
  font-size: 32px;
}

.stats h4 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  opacity: 0.6;
}
