.ratings {
  padding: 80px 65px 120px 70px;
  background: #faf8f5;
  color: #285581;
  font-family: "Inter", sans-serif;
  text-align: left;
}

.introSection {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 40px;
}

.highlight {
  font-weight: bold;
}

.note {
  color: #285581;
  font-size: 24px;
}

.introImage {
  width: 361px;
  height: 241px;
}

.introImage img {
  max-width: 100%;
  border-radius: 8px;
}

.reviewsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
  padding: 62px 0 0 56px;
}

.reviewCard {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.ratingSection {
  font-size: 24px;
}

.ratingSection a {
  color: #197fe5;
}
