.faintLine {
  border: none;
  height: 2px;
  background-color: #e0e0e0;
  opacity: 0.7;
  margin: 0;
}

.storageSelection {
  background: #faf8f5;
  color: #285581;
  padding: 0 168px 64px 168px;
}

h2 {
  text-align: center;
  margin: 0;
  padding-top: 80px;
  font-size: 40px;
}

.storage {
  display: flex;
  justify-content: center;
  padding: 69px 0;
}

.houseStorage,
.businessStorage {
  border: 2px solid rgb(204, 204, 204, 0.4);
  border-radius: 10px;
  padding: 64px 84.5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: white;
  width: 100%;
}

.houseStorage {
  margin-right: 30px;
}

.houseStorage img,
.businessStorage img {
  margin-bottom: 48px;
  width: 288px;
  height: 240px;
}

.storageLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  padding: 0 2px 0 12px;
  transform: scaleX(1.4);
}

.guide {
  background-color: #4176aa;
  text-align: center;
  position: relative;
  /* margin: 0 168px 120px 168px; */
  margin-bottom: 120px;
  border-radius: 10px;
  padding-bottom: 40px;
}

.guide p {
  margin: 24px 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.guide button {
  display: inline-block;
  /* justify-content: center;
    align-items: center; */
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background: #4176aa;
  color: white;
  border: 2px solid rgb(255, 255, 255, 0.25);
}

.building {
  position: absolute;
  bottom: 0;
  right: 40px;
}
